.App {
  text-align: center;
  background-color: #13304d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MuiTypography-h1 {
  font-size: 5em !important;
  color: #57a1eb;
}

.MuiTypography-h2 {
  font-size: 3em !important;
  color: #57a1eb;
}
